In [22]:
import numpy as np
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json 

import requests
from pandas.io.json import json_normalize 
import matplotlib.cm as cm
import matplotlib.colors as colors
from geopy.geocoders import Nominatim
import folium
from sklearn.neighbors import KNeighborsClassifier
print('Libraries imported.')

Libraries imported.

In [23]:
df_Paris = pd.read_csv(r'D:\Study\Final_Assignment\laposte_hexasmal.csv',sep=';')
df1 = df_Paris[df_Paris['Nom_commune'].str.contains('PARIS ')]
df1.drop(['Code_commune_INSEE'],axis=1,inplace=True)
df1.drop(['Ligne_5'],axis=1,inplace=True)
df1.drop(['Libellé_d_acheminement'],axis=1,inplace=True)
df = df1.reset_index(drop=True)
df.drop([7],axis=0,inplace=True)
df[['longtitude', 'latitude']] = df['coordonnees_gps'].str.split(',', 2, expand = True)

C:\Users\jyzhang\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [24]:
df.drop(['coordonnees_gps'],axis=1,inplace=True)
Paris = df
Paris

        Nom_commune  Code_postal     longtitude       latitude
0          PARIS 02        75002  48.8679033789  2.34410716666
1          PARIS 03        75003  48.8630541318  2.35936105897
2          PARIS 08        75008  48.8725272666  2.31258256042
3          PARIS 14        75014  48.8289932116  2.32710088326
4          PARIS 16        75016  48.8603987604   2.2620995594
5          PARIS 17        75017  48.8873371665  2.30748555949
6          PARIS 19        75019   48.886868623  2.38469432787
8          PARIS 06        75006  48.8489680919  2.33267089859
9          PARIS 12        75012  48.8351562307  2.41980703497
10         PARIS 13        75013  48.8287176845  2.36246822852
11         PARIS 18        75018  48.8927350746  2.34871193387
12         PARIS 01        75001  48.8626304852  2.33629344655
13         PARIS 05        75005  48.8445086596  2.34985938556
14         PARIS 09        75009  48.8768961624  2.33746024139
15         PARIS 10        75010  48.8760285569  2.36111290456
16  PARIS L HOPITAL        71150  46.9127885575  4.63958573146
17         PARIS 04        75004   48.854228282  2.35736193814
18         PARIS 07        75007  48.8560825982  2.31243868773
19         PARIS 11        75011  48.8594154976  2.37874106024
20         PARIS 15        75015  48.8401554186  2.29355937244
21         PARIS 16        75116  48.8603987604   2.2620995594
22         PARIS 20        75020  48.8631867774  2.40081982673

In [32]:
df_London = pd.read_excel('D:\Study\Final_Assignment\London.xlsx')
df_London.head()

                         Borough  Population (2013 est)[1]       Co-ordinates
0  Barking and Dagenham [note 1]                    194352   51.5607; 0.1557﻿
1                         Barnet                    369088  51.6252; -0.1517﻿
2                         Bexley                    236687    51.4549; 0.1505
3                          Brent                    317264  51.5588; -0.2817﻿
4                        Bromley                    317899   51.4039; 0.0198﻿

In [33]:
df_London[['longtitude', 'latitude']] = df_London['Co-ordinates'].str.split(';', 2, expand = True)
df_London.drop(['Population (2013 est)[1]'],axis=1,inplace=True)
df_London

                            Borough       Co-ordinates longtitude   latitude
0     Barking and Dagenham [note 1]   51.5607; 0.1557﻿    51.5607    0.1557﻿
1                            Barnet  51.6252; -0.1517﻿    51.6252   -0.1517﻿
2                            Bexley    51.4549; 0.1505    51.4549     0.1505
3                             Brent  51.5588; -0.2817﻿    51.5588   -0.2817﻿
4                           Bromley   51.4039; 0.0198﻿    51.4039    0.0198﻿
5                            Camden   51.5290; -0.1255    51.5290    -0.1255
6                           Croydon  51.3714; -0.0977﻿    51.3714   -0.0977﻿
7                            Ealing  51.5130; -0.3089﻿    51.5130   -0.3089﻿
8                           Enfield  51.6538; -0.0799﻿    51.6538   -0.0799﻿
9                Greenwich [note 2]    51.4892; 0.0648    51.4892     0.0648
10                          Hackney  51.5450; -0.0553﻿    51.5450   -0.0553﻿
11  Hammersmith and Fulham [note 4]  51.4927; -0.2339﻿    51.4927   -0.2339﻿
12                         Haringey  51.6000; -0.1119﻿    51.6000   -0.1119﻿
13                           Harrow   51.5898; -0.3346    51.5898    -0.3346
14                         Havering   51.5812; 0.1837﻿    51.5812    0.1837﻿
15                       Hillingdon   51.5441; -0.4760    51.5441    -0.4760
16                         Hounslow   51.4746; -0.3680    51.4746    -0.3680
17                        Islington  51.5416; -0.1022﻿    51.5416   -0.1022﻿
18           Kensington and Chelsea   51.5020; -0.1947    51.5020    -0.1947
19             Kingston upon Thames  51.4085; -0.3064﻿    51.4085   -0.3064﻿
20                          Lambeth  51.4607; -0.1163﻿    51.4607   -0.1163﻿
21                         Lewisham  51.4452; -0.0209﻿    51.4452   -0.0209﻿
22                           Merton  51.4014; -0.1958﻿    51.4014   -0.1958﻿
23                           Newham   51.5077; 0.0469﻿    51.5077    0.0469﻿
24                        Redbridge   51.5590; 0.0741﻿    51.5590    0.0741﻿
25             Richmond upon Thames  51.4479; -0.3260﻿    51.4479   -0.3260﻿
26                        Southwark  51.5035; -0.0804﻿    51.5035   -0.0804﻿
27                           Sutton  51.3618; -0.1945﻿    51.3618   -0.1945﻿
28                    Tower Hamlets  51.5099; -0.0059﻿    51.5099   -0.0059﻿
29                   Waltham Forest  51.5908; -0.0134﻿    51.5908   -0.0134﻿
30                       Wandsworth  51.4567; -0.1910﻿    51.4567   -0.1910﻿
31                      Westminster  51.4973; -0.1372﻿    51.4973   -0.1372﻿